*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI","sans-serif";
}

body{

    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

    /* <!--Navigation Menu--> */

header {
    background: #222;
    color: #fff;
    padding: 14px 0;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}
.logo{
    
    font-size: 30px;
    font-weight: bold;
}

.logo:hover {
     color: #0066cc;
}

nav {
    display: flex;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.nav-links li a:hover {
    color: #0066cc;
}

/* HeroSection */

.hero{
    background: #0066cc;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
}

.hero h2 {
    font-size: 48px;
    margin-bottom: 30px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.hero .btn {
    background: #fff;
    color: #0066cc;
    padding: 12px 25px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
}

.hero .btn:hover {
    background: #0066cc;
    color: #fff; 
}

/* //Team Section */

.team {
    h2 {
    
        text-align: center;
        font-size: 36px;
        margin-bottom: 40px;
    }
    .team-cards {
        display: flex;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;

        .card {
            background: #f0f0f0;
            padding: 20px;
            border-radius: 10px;
            width: 250px;
            text-align: center;

            img {
                width: 100%;
                border-radius: 50%;
                margin-bottom: 15px;
            }
            h3 {
                margin-bottom: 5px;
            }
            p {
                color: #555;
            }
        }
    }
}

/* <!-- Footer  --> */

Footer{
    background: #222;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-content p {
    margin-bottom: 10px;
    font-size: 14px;
}

.footer-content p:hover {
    color: #0066cc;
}


.footer-nav {
    list-style: none;
    display: flex;
    gap: 10px;
}


.footer-nav a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.footer-nav a:hover {
    color: #0066cc;
}